#grid
{
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    height: 280px;
}

h1
{
    font-weight: bolder;
    z-index: 2;
    font-size: 65px;
    grid-column: 1/4;
    grid-row: 1;
    letter-spacing: 5px;
    padding-left: 40px;
}

h2
{
    font-size: 30px;
    padding-top: 150px;
    text-align: center;
    grid-column: 2;
    grid-row: 1;
    background-color: #B9B8B9;
    color: #9C0E11;
    letter-spacing: 5px;
    font-weight: bolder;
    width: 225px;
}

img
{
    height: 280px;
    grid-column: 1/2;
    grid-row: 1/2;
}
