#content
{
    max-width: 1600px;
    margin: 0 auto;
}

nav a
{
    text-decoration: none;
    color: #E0E1DD;
    text-align: right;
}

#hero-msg h1, #hero-msg h4
{
    text-align: center;
}

.button-box
{
    
    text-align: center;
}

main section
{
    text-align: center;
}

#backround
{
    height: 725px;
}

body
{
    background-color: #E0E1DD ;
}

header
{
    background-color: #99621E;
}

nav a:hover
{
    color: #000F08;
    background-color: #679436;
}

.book, .join
{
    text-decoration: none;
    background-color: #679436;
    color: #E0E1DD;
}

.book:hover, .join:hover
{
    color: #000F08;
    background-color: #99621E;
}

.msg
{
    background-color: #99621E;
}

footer
{
    background-color: #679436;
}

.home-title
{
    color: #000F08;
}

h4
{
   color: #000F08; 
}

.msg h2
{
    color: #000F08;
}

.msg p
{
    color: #E0E1DD;
}

footer a
{
    text-decoration: none;
    color: #E0E1DD;
}

footer a:hover
{
    color: #000F08;
}

.logo
{
    width: 80px;
}

.icon
{
    width: 80px;
}
#hero-img
{
    width: 100%;
}

footer h3 a:hover
{
    text-decoration: underline;
}