#content
{
    max-width: 1600px;
    margin: 0 auto;
}

nav a
{
    text-decoration: none;
    color: #E0E1DD;
    text-align: right;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4
{
    text-align: center;
    font-family: helvetica;
    color: white;
}

.button-box
{
    
    text-align: center;
}

main section
{
    text-align: center;
}

#backround
{
    height: 725px;
}

body
{
    background-color: #E0E1DD ;
    font-family: sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

header
{
    background-color: #99621E;
    display: grid;
    grid-template-columns: 150px auto;
}

nav
{
    display: flex;
    justify-content: space-around;
}

nav a:hover
{
    color: #000F08;
    background-color: #679436;
}

.book, .join
{
    text-decoration: none;
    background-color: #679436;
    color: #E0E1DD;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover
{
    color: #000F08;
    background-color: #99621E;
}

.msg
{
    background-color: #99621E;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364}

footer
{
    background-color: #679436;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-title
{
    color: white;
    font-size: 2em;
    margin-top: 10px;
}

h4
{
   color: #000F08; 
   font-family: Helvetica;
}

.msg h2
{
    color: #000F08;
}

.msg p
{
    color: #E0E1DD;
    font-size: .8em;
    padding-bottom: 15px;
}

footer a
{
    text-decoration: none;
    color: #E0E1DD;
}

footer a:hover
{
    color: #000F08;
}

.logo
{
    width: 80px;
}

.icon
{
    width: 80px;
    padding-top: 10px;
}

#hero
{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box
{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img
{
    width: 100%;
}

#hero-msg
{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}


footer h3 a:hover
{
    text-decoration: underline;
}

h2
{
    margin: 0;
}

#logo_link
{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

footer .social img

{
    padding-top: 15px;
}

.river-cards, .camping-card, .rapids-card
{
    margin: 200px 0;
}

.card-img
{
    border-style: solid;
    border-width: 10px;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover
{
    opacity: .6;
    transform: scale(1.1);
}

.card-img, .mountains
{
    width: 100%;
}

main section image
{
    box-sizing: border-box;
}

.home-grid
{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.river-cards
{
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card
{
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card
{
    grid-column: 8/10;
    grid-row: 2/3;
}

#background
{
    grid-column: 1/11;
    grid-row: 4/9;
}

.mountains
{
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}