/* Header start */
header
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px;
    background-color: #0D5C63;
    font-size: 125%;
    margin: 0 auto;
}

#header_logo
{
    margin: auto;
    border-radius: 50%;
    width: 35%;
}

#home_header
{
    color: #FCFFFC;
    margin: auto;
}

#intrest_header
{
    margin: auto;
    color: #FCFFFC;
}

#events_header
{
    margin: auto;
    color: #FCFFFC;
}

/* Header Finish */

/* Body start */

body
{
    background-color: #6D3D14;
    margin: 0%;
    text-align: center;
    color: #FCFFFC;
}

img
{
    width: 40%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

p
{
    font-size: 120%;
}

/* Body finish */

/* Footer start */

footer
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px;
    background-color: #0D5C63;
    font-size: 125%;
}

#home_footer
{
    color: #FCFFFC;
    margin: auto;
}

#intrest_footer
{
    color: #FCFFFC;
    margin: auto;
}

#events_footer
{
    color: #FCFFFC;
    margin: auto;
}

#site_plan_footer
{
    color: #FCFFFC;
    margin: auto;
}

#logo_footer
{
    margin: auto;
    border-radius: 50%;
    width: 35%;
}
/* Footer finsih */

/* login css */

button
{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 100%;
}
button:hover
{
    color: #6D3D14;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    color: black;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .cancelbtn
  {
    color: #000;
  }

  /* Close button on hover */
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }