#main
{
    width: 100%;
}

#left
{
    width: 20%;
    border-radius: 50%;
    margin-left: 5%;
    border-width: 5px;
    border-color: black;
    border-style: solid;
}

#mid
{
    width: 20%;
    border-radius: 50%;
    margin-left: 13%;
    border-width: 5px;
    border-color: black;
    border-style: solid;
}

#right
{
    width: 20%;
    border-radius: 50%;
    margin-left: 13%;
    border-width: 5px;
    border-color: black;
    border-style: solid;
}

div
{
    background-color: grey;
}